.idea
get_train_set*
ignore_files
__MACOSX
*.log
*.pdf
test/
pkl/
train.zip
.tags
checkpoints/
train_old/
train/
2DMOT2015/
MOT17Det/
__pycache__
*.pyc
.DS_Store
train_summary/
checkpoints_save/
summary_save/
train_old/
